@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap");

@import "tailwindcss";

@theme {
  --font-signature: "Momo Signature", cursive;
}

@layer base {
  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-track {
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
}
