name: Backend deploy

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.5.0"

      - name: Init terraform
        working-directory: ./backend/infra
        run: terraform init -input=false

      - name: Apply terraform changes
        working-directory: ./backend/infra
        run: terraform apply -auto-approve -input=false

      - name: Get API URL
        working-directory: ./backend/infra
        run: echo "VITE_API_URL=${terraform output -raw api_gateway_url)}" > ./frontend/.env
