name: Frontend deploy

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"
      - "!frontend/infra/**"

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ secrets.NODE_VERSION }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Download API URL artifact
        uses: actions/download-artifact@v5
        with:
          name: api-url
          path: ./tmp

      - name: Read API URL and create .env
        run: |
          API_URL=$(cat ./tmp/api_url.txt)
          echo "VITE_API_URL=${API_URL}" > ./frontend/.env

      - name: Install dependencies
        run: npm install
        working-directory: ./frontend

      - name: Build frontend
        run: npm run build
        working-directory: ./frontend

      - name: Sync frontend files to S3
        run: aws s3 sync ./frontend/dist s3://adi-cloud-resume-challenge-bucket --delete

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
